/* ----------------------Nav Bar---------------------------- */

 /* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
} */
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  
  /* ------------------------------Developer--------------- */
  .wrapper li p{
    color: white;
  }
  
  /* ----------------------Social meadi-------------------- */
  .wrapper .social_media a{
    color: whitesmoke;
    text-decoration: none;
  }
  .social_media a:hover{
    size: 40px;
    color: gray;
  }
  
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  
  .content h1{
    font-family: 'JimmysBold', sans-serif;
    color: aliceblue;
    /* font-family: 'JimmysLight', sans-serif;
    font-family: 'JimmysMedium', sans-serif; */
  
  }
  
  .content label{
    font-family: 'JimmysBold', sans-serif;
    font-size: 20px;
    color: grey;
  }
  /* .content .title{
    font-size: 40px;
    font-weight: 700;
  } */
  /* .content p{
    font-size: 35px;
    font-weight: 600;
  } */
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  
  
  /* --------------------Nav End----------------------------------------------- */
  
  /* ---------------------------- Body ---------------------------------- */
  body {
        
    background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  body h1{
      text-align: center;
      font-family: cursive;
      margin-top: 2%;
  }
  
  /* ------------------------- Body End ------------------------------ */
  
  
  /* -----Input------- */
  input[type=text]{
    width: 20%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left:30px;
      border-radius:10px;
      font-weight: bolder;
      font-size: larger;
      margin: 1%;
    
  }
  
  input[type=text]:hover{
    width: 21%;
      border: #000;
      box-shadow: 5px 10px #2c2a2a;
  }
  
  
  
  /* ----------------------------Submit Button------------------------------ */
  
  .button{
  margin-top: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  }
  
  .button:hover {
  background-color: black;
  color: white;
  }
  
  /* =================== Responsive================================ */