<!--
  THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/en/editor.html?c=line-smooth
-->
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">

  <h1>Seasonal runs of {{name}}</h1>

		<div id="container1" style="height: 100%"></div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
       
        <script type="text/javascript">
            var dom1 = document.getElementById("container1");
            var myChart1 = echarts.init(dom1);
            var app1 = {};

            var option1;



            option1 = {
            title: {
            text: '{{t1}} target'
            },
            tooltip: {
            trigger: 'axis'
            },
              legend: {},
              toolbox: {
              show: true,
              feature: {
              dataZoom: {
              yAxisIndex: 'none'
            },
              dataView: { readOnly: false },
              magicType: { type: ['line', 'bar'] },
              restore: {},
              saveAsImage: {}
            }
            },
              xAxis: {
              type: 'category',
              boundaryGap: false,
              data: [{% for data in team_labels %} '{{ data}}', {% endfor %}]
            },
              yAxis: {
              type: 'value',
              axisLabel: {
              formatter: '{value}'
            }
            },
              series: [
            {
              name: 'Target',
              type: 'line',
              data: {{team_values}},
              markPoint: {
              data: [
                { type: 'max', name: 'Max' },
                { type: 'min', name: 'Min' }
          ]
          },
            markLine: {
            data: [{ type: 'average', name: 'Avg' }]
          }
          }
          ]
          };

          if (option1 && typeof option1 === 'object') {
          myChart1.setOption(option1);
        }

</script>


</body>
</html>