{% load static %}

<!DOCTYPE html>

<head>

    <link rel="shortcut icon" href="https://www.iplt20.com/assets/images/ipl-logo-new-old.png" type="image/png">
    <link rel="shortcut icon" href="https://www.iplt20.com/assets/images/ipl-logo-new-old.png" type="image/png">
    <link rel="stylesheet" href="{% static 'ipl/css/player_feature.css'%}">
    <link rel="shortcut icon" href="https://www.iplt20.com/assets/images/ipl-logo-new-old.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/09e39528d8.js" crossorigin="anonymous"></script>
    <link href="http://fonts.cdnfonts.com/css/jimmysbold" rel="stylesheet">
    <title>Choose Feature</title>

</head>




<body background="{% static 'ipl/image/player.jpg' %}">

    <!-- -------------------------Nav Start---------------------------------- -->

<input type="checkbox" id="active">
<label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
<div class="wrapper">
<ul>
<li><a href="">Home</a></li>
<li><a target="_blank" href="https://senthilvadivel-20.github.io/Portfolio/">About Us</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Feedback</a></li>

<li><p> Developed By Senthil </p></li>

<div class="social_media">
    <a target="_blank" href="https://github.com/Senthilvadivel-20" class="fa fa-github"></a>
    <a target="_blank" href="https://www.linkedin.com/in/senthilsubramaniyam20/" class="fa fa-linkedin"></a>
    <a target="_blank" href="https://twitter.com/the_senthil_" class="fa fa-twitter"></a>
    <a target="_blank" href="https://www.instagram.com/the_senthil_/" class="fa fa-instagram"></a>
</div>

</ul>
</div>

<!-- ----------------------------Nav End----------------------------- -->

    <div class="content">
        <h1>{{name}}</h1>

        <button> <a href="{% url 'Runs_against_teams_chart' %}"><span> See {{name}}'s Runs </span></a> </button>
        <button> <a href="{% url 'Wicket_chart' %}"><span> See {{name}}'s Wickets </span></a> </button>
        <br>
        <button> <a href="{% url 'summary_table'%}"><span>See Table</span></a></button>

    </div>

</body>